@import '~antd/es/style/themes/default.less';

@menu-dark-bg: #324148;
@menu-dark-inline-submenu-bg: #263238;

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  .ant-layout-header {
    background-color: @menu-dark-bg;
  }
}

.ant-pro-sider.ant-layout-sider-collapsed .ant-pro-sider-logo {
  padding: 4px;
}
.ant-pro-sider-logo {
  padding: 4px;
  img {
    height: 36px;
  }
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
  flex: 0 0 220px;
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  background-color: @menu-dark-bg;
  .ant-menu-item {
    font-weight: bold;
    font-size: 13px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
  .ant-menu-sub {
    background-color: @menu-dark-inline-submenu-bg;
  }
}

.ant-page-header {
  height: 40px;
  padding: 0 6px;
  line-height: 40px;
  .ant-page-header-heading {
    align-items: center;
    height: 100%;
  }
  .ant-page-header-heading-title {
    font-size: 14px;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .ant-design-pro > .ant-layout {
    min-height: 100vh;
  }
}
